{% extends '_layout.html' %}

<!--if user isn't logged in then they get option to login, if logged in they can post-->
{% block login_or_post %}
{% if current_user == None %}<a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
{% else %}   
<a class="nav-link" href="{{ url_for('create_new_post_page') }}">Post</a>
{% endif %} {% endblock %}

<!--if they are logged in display their name and univeristy, also make it clicckable so they can edit their stuff-->
{% block currentUser %} 
<a class="nav-link active" href = "{% if current_user != None %}  {{ url_for('account_info_page') }}  {% endif %}"> 
{% if current_user != None %}{{current_user.name}} | {{current_user.university}} 
</a>
{% endif %}{% endblock %}


{% block body %}


<h1>Posts</h1>
<ul>
    {% for post in post_list %}

    <div class="card mb-3" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.post_title }}</h5>
          <p class="card-text"><small class="text-muted">user: {{ post.user.name }}</small></p>
          <p class="card-text">{{ post.post }}</p>
        </div>
      </div>

    {% endfor %}

</ul>

{% endblock %}